@use './variables' as *;

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: $font-size;
    box-sizing: content-box;
}

body {
    background: $light-grayish-blue;
}

.font-white {
    color: $white;
}

.font-grayish {
    color: $very-dark-grayish-blue;
}

.violet {
    background: $moderate-violet;
}

.grayish-blue {
    background: $very-dark-grayish-blue;
}

.blackish-blue {
    background: $very-dark-blackish-blue;
}

.white {
    background: $white;
}